<html>
	<title>Issues</title>
	<body>
		<h1>Existent Issues</h1>
		<ul>
			<% @issues.each do |issue| %>
			<li><p><%= "<a href='/issues/#{issue[0]}'>#{issue[1]}</a>" %></p></li>
			<% end %>
		</ul>
		<a href='/issues_new'>New Issue</a>
	</body>
</html>