<html>
	<title>Issues</title>
	<body>
		<h1>Existent Issues</h1>
		<ul>
			<% @ditado.issue_list.each do |issue| %>
			<li><p><%= "<a href='/issues/#{issue}'>#{issue}</a>" %></p></li>
			<% end %>
		</ul>
		<form action='/issues' method='post'>
			<input type='text' name='content'/>
			<button type="summit">Add</button>
		</form>
	</body>
</html>