<html>
	<title>New Issue</title>
	<body>
		<h1>New Issue</h1>
		<form action='/issues' method='post'>
			<p>Title: <input type='text' name='title'/></p>
			<p>Content: <textarea name="content" cols="40" rows="5"></textarea></p>
			<p><button type="summit">Add</button></p>
		</form>
	</body>
</html>
