<html>
	<title>New Issue</title>
	<body>
		<h1>New Issue</h1>
		<form action='/issues' method='post'>
			<input type='text' name='content'/>
			<button type="summit">Add</button>
		</form>
	</body>
</html>



